<div class="mt-3 ">
  <%= simple_form_for(@flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :picture_url %>
      <%= f.input :description %>
      <%= f.input :number_of_guest %>
      <%= f.input :price_per_night %>
      <%= f.button :submit, class: "btn-primary rounded" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn btn-danger rounded" %>
  <% end %>
</div>
